.App-link {
  color: #61dafb;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow-y: hidden; */
  overflow-x: hidden;
}

/* App.css */
body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
